@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
}

img {
    width: 70%;
}

.conteudo {
    display: flex;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0 15%;
}

.conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    text-align: center;
}

.conteudo__ingredientes {
    background-color: rgba(0, 0, 242, 0.686);
    color: whitesmoke;
    width: 210%;
}

.conteudo__ingredientes__lista {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.conteudo__mais {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: white;
    text-align: center;

}

.conteudo_mais_link {
    text-decoration: none;
    color: rgb(14, 14, 220)
}

.conteudo_mais_link:hover {
    text-decoration: underline;
}

.remy {
    padding: 17%;
}


.conteudo__instrucoes {
    background-color: rgb(248, 83, 54);
    color: whitesmoke;
}

.conteudo__instrucoes__lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rodape {
    color: #000000;
    background-color: whitesmoke;
    padding: 20px;
    margin-left: 15%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    width: 67.9%;

}


.rodape__link {
    color: #000000;
    text-decoration: none;
    border: 2px solid;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 12px 25px;
    border-radius: 8px;
}

.rodape__link:hover {
    background-color: rgb(184, 183, 183);
}