body {
    color: aqua;
    background-color: black;
}

th,
td,
table {
    border: 2px solid aqua;
    border-collapse: collapse;
    font-size: 24px;
}




table {
    width: 100%;
    text-align: center;
    margin-top: 1%;
}

td {
    width: 18%
}

.hora {
    width: 7%;

}